DTVP_API_KEY=
# URL of the upstream Dependency Track API
DTVP_DT_API_URL=
# URL of this DTVP Backend (used by frontend)
DTVP_API_URL=
DTVP_OIDC_AUTHORITY=
DTVP_CONTEXT_PATH=
DTVP_FRONTEND_URL=
DTVP_OIDC_REDIRECT_URI=
DTVP_SESSION_SECRET_KEY=
DTVP_OIDC_CLIENT_ID=
DTVP_OIDC_CLIENT_SECRET=
